{% extends "base.html" %} 


{% block title %}
{{ book.title }}
{% endblock %}

{% block content%}

    <center>
        <h1>{{ book.title }}</h1>
        {% if book.series != null %}
            <p>Series name: {{ book.series }}, tome: {{book.tome }}</p>
        {% endif %}
        <img src="{{ book.cover.url }}" alt="{{ book.title }} - Cover" width="200" height="300"/>
        <p>{{ book.rating }}/10</p>

        <form method="POST" action="{% url "shelf" %}">
            {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button>
                    {% if saved_in_shelf %}
                    Remove from Your shelf
                    {% else %}
                    Add to Your shelf
                    {% endif%}
                </button>
        </form>
       
    </center>

{% endblock %}
